* {
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100vh;

    background: #121214;
    color: white;
}

section>div {
    width: 50%;
}

section>div:nth-of-type(1) {
    position: relative;
    padding-left: 2rem;
    padding-top: 3rem;
}

section div.form {
    width: 112%;
    position: absolute;
    top: 50%;
    filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
}

section div.form form label {
    margin-bottom: 1rem;
    display: block;
}

section div.form form>div {
    display: flex;
    align-items: center;

}

section div.form form>div input {
    background-color: white;
    height: 48px;
    border-left: solid 5px #04D361;
    outline: 0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    z-index: 9;
}

section div.form form>div button {
    background-color: #8257e5;
    width: 48px;
    height: 48px;
    border: none;
    z-index: 9999;
}

section div.form form>div button img{
    margin-bottom: 0;
}

section div:nth-of-type(1) img {
    max-width: 100%;
    margin-bottom: 3rem;
}

section div:nth-of-type(2) img {
    height: 100vh;
    object-fit: cover;
    object-position: 100%;
}